.comment-section {
    margin-top: 70px;
}

.comment {
    width: 100%;
    &__card {
        @include flex(flex-start, center);
        margin: 20px 0;
        // margin-top: 20px;

        // &.lastchild{
        //     border-left: 2px white solid;
        //     padding-left: ;
        // }

        &__left {
            width: 25px;
            z-index: 1;

            &__connectline {
                border-top: 2px solid white;
                bottom: 11px;
                right: 50px;
                width: 40px;
                // margin-left: -70px;
                position: relative;
            }

            &__pfp {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                @include flex(center, center);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__right {
            // width: 94%;
            width: 100%;
            &.border {
                border-left: 2px solid white;
                // &.hiding-replies {
                margin-bottom: 15px;
                // }
            }
            padding-left: 50px;

            &__title {
                @include flex(flex-start, flex-start);

                &__alias {
                    margin-right: 15px;

                    color: $text-primary-color;
                    font-size: 12pt;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                }

                &__timestamp {
                    color: $text-secondary-color;
                    font-size: 9pt;
                    font-family: 'Poppins', sans-serif;
                }
            }

            &__context {
                width: 70%;
                color: $text-primary-color;
                font-size: 14pt;
                font-family: 'Poppins', sans-serif;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                // word-wrap: break-word;
                // hyphens: auto;
                font-weight: 300;
            }

            &__options {
                margin-top: 3px;
                // margin-bottom: 20px;

                &__reply {
                    display: inline-block;
                    color: $text-secondary-color;
                    font-size: 11pt;
                    font-family: 'Poppins', sans-serif;

                    cursor: pointer;

                    &:hover {
                        color: $text-primary-color;
                    }
                }
            }

            &__show-reply {
                display: inline-block;
                top: 12px;
                position: relative;
                color: $text-secondary-color;
                font-size: 13pt;
                font-family: 'Poppins', sans-serif;

                cursor: pointer;

                &:hover {
                    color: $text-primary-color;
                }
            }

            &__replies {
                // display: none;
                overflow: hidden; /* Hide the element content, while height = 0 */
                height: 0;
                position: relative;
                bottom: 20px;
                // margin-bottom: 30px;
                transition: all 0.4s ease-in-out;
                opacity: 0;

                &.show-replies {
                    // display: block;
                    bottom: 0;
                    height: auto;
                    margin-bottom: 0px;
                    opacity: 1;
                }
                // margin-left: 75px;
                // border-left: 2px red solid;
            }
        }
    }
}
